body {
  margin:0px;
  background-image:url('http://farm4.staticflickr.com/3733/11953319614_045ca04e32_o.gif');
  background-size:100%;
  background-attachment:fixed;
  background-color:#CCCCCC;
}

#container {
  width:100%;
  min-height:100%;
  margin:0px;
}

.navbar {
  background-color:#000000;
  padding:12px;
  padding-left:10%;
  width:100%;
  text-align:left;
  position:fixed;
  top:0px;
  left:0px;
  z-index:20;
}

.navbar a {
  color:#ffffff;
  font-size:15px;
  font-family: 'Monda', sans-serif;
  text-decoration:none;
  margin:10px;
}

.navbar a:hover {
  color:#ffffff;
  font-size:15px;
  font-family: 'Monda', sans-serif;
  border-bottom:2px solid #808080;
  margin:10px;
}

.navbar .active {
  color:#ffffff;
  font-size:15px;
  font-family: 'Monda', sans-serif;
  border-bottom:2px solid #808080;
  margin:10px;
}

.dance {
  padding-top:150px;
  padding-bottom:400px;
  padding-left:10%;
  z-index:0;
}

.huge {
  color:#ffffff;
  font-family: 'Monda', sans-serif;
  font-weight:700;
  position:fixed;
  z-index:5;
}

.dancebody {
  background-color:#000000;
  text-align:center;
    width:100%;
    min-height:100%;
   margin:0px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:40px;
  padding-top:20px;
  position:absolute;
  z-index:10;
}

.mainbody div {
  display:inline-block;
}

.portfoliotables {
  padding:10px;
}

.mainbody {
  background-color:#000000;
  padding:40px;
  padding-top:80px;
  z-index:10;
  min-height:100%;
}

.mainbody2 {
  background-color:#000000;
  padding:40px;
  padding-top:150px;
  z-index:10;
  min-height:67%;
  padding-left:12%;
}

.actofdesperation {
  width:50%;
  margin-top:20px;
  margin-left:5%;
}

span {
  color:#ffffff;
  font-family: 'Monda', sans-serif;
  font-size:12pt;
}

a {
  color:#cccccc;
  font-family: 'Monda', sans-serif;
  font-size:12pt;
  text-decoration:none;
}

a:hover {
  color:#999999;
  font-family: 'Monda', sans-serif;
  font-size:12pt;
  text-decoration:none;
}

@media only screen and (max-width : 600px) {  
    .navbar {  
        display: none;  
        float: none;  
        width: 100%;}
    #pull {
        display:block;}
    #pull:after {  
        content:'';  
       }
    
    .menulist {
  background-color:#000000;
  padding:12px;
  width:100%;
  text-align:left;
  position:fixed;
  top:0px;
  left:0px;
  z-index:20;}
    
    .menulist2 {
            display:none;
    }

}

@media only screen and (min-width : 601px) {

#pull {
    display:none;}
    
.menulist {
        display:none;
        float: none;  
        width: 100%;}

.navlinks2 {
        display:none;}
.navlinks3{
        display:none;}
}
