@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body{
	background: url('sheet-bg.jpg') no-repeat center center fixed;
	 -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

p{
	font-size:12px;
	margin-top:-10px;
}

a{
	color:#63A6A0;
	text-decoration:none;
}

h6{
	font-weight:500;
	font-size:8pt;
	margin-top:0px;
	margin-bottom:0px;
}

h1{
	margin-top:0px;
}

.help{
	text-align:left;
	padding-top:5px;
}

.content{
	width:40%;
	margin-top:1.5%;
	padding-top:20px;
	margin-left:auto;
	padding-left:30px;
	margin-right:auto;
	padding-right:30px;
	padding-bottom:30px;
	font-family:Open Sans, Sans-serif;
	color:#4c4e4d;
	background-color:#FFFFFF;
	opacity:.9;

	-webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.27);
	-moz-box-shadow:    3px 3px 6px 0px rgba(50, 50, 50, 0.27);
	box-shadow:         3px 3px 6px 0px rgba(50, 50, 50, 0.27);
}

.light-rule{
	border: 1px #e6e6e6 thin;
}

.footer{
	bottom:0px;
	padding-top:10px;
	position:relative;
	text-align:center;
}

input[type=text]{
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#e6e6e6;
	border:none;	
}

input{
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
	color:#9c9c9c;
}

.generate{
	margin-bottom:20px;
	margin-top:10px;
	text-align:center;
	width:150px;
}

.radio{
	display:inline;
	padding-top:10px;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
	width     : 1em;
	margin    : 0;
	padding   : 0;
	font-size : 1em;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
	display      : inline-block;
	line-height  : 1.5em;
}

textarea{
	width:100%;
	height:6em;
	margin-bottom:20px;
	margin-top:10px;
}

.embed-code{
	border: none;
	background-color:#e6e6e6;
	resize:none;
}

#preview-title{
	display:none;
}
.preview{
	margin-top:10px;
	width:80%;
	display:block;
	height:auto;
}

@media(max-width:1000px){
	.content{
		width:60%;

	}
	h1{
		font-size:18px;
	}
	b{
		font-size:12px;
	}
	p{
		font-size:10px;
	}
}