/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   BEGIN STYLE RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END STYLE RESET */

.stack{
	width:100%;
}

.info{
	position:relative;
	top:200px;
	height:25px;
	width:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:16pt;
	line-height:0pt;
	margin:0px 2px 0 2px;
	padding:0;
	text-align:center;
	opacity:0.0;
}

.info:before{
	line-height:0;
}

br{
	line-height:20pt;
}

.door{
	width:200px;
	height:auto;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

.door:hover{
	opacity:0.3;
}

li {
	/*list-style-type:none;*/
	box-sizing:border-box;
	display:inline-block;
	margin: 5px 2.5px 5px 2.5px;
	position:relative;
}